{# components/card.njk #}
<article class="card ratio-{{ ratio | default('16x9') }}">
  {% if image %}
    <img src="{{ image | url }}" alt="{{ title }}">
  {% endif %}
  <div class="card-content">
    {% if date %}
      <div class="card-date">{{ date | date("dd.MM.yyyy") }}</div>
    {% endif %}
    <h3 class="card-title">{{ title }}</h3>
    {% if excerpt %}
      <p class="card-text">{{ excerpt }}</p>
    {% endif %}
    {% if cta_url %}
      <a class="card-btn button button-s" href="{{ cta_url }}">{{ cta_text or "Read More" }}</a>
    {% endif %}
  </div>
</article>
